@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
:root{
  --color_black: #000;
  --color_white: #eee;
  --color_light_gray: #ccc;
  --color_gray: #808080;
  --color_dark_gray: #222;
  --hover_brightness: brightness(1.2);
  --hover_transition: 0.2s ease;
  --button_padding: 0.4rem 0.8rem;
}

html {
  font-size: clamp(16px,3vw,20px);
  background: var(--color_black);
  color: var(--color_white);
  max-width: 800px;
  margin: auto;
  padding: 1.2rem;
  font-family: Manrope, sans-serif;
}

h1 {
  font-size: 1.6rem;
  font-weight: 700;
  margin-botton: 0.8rem;
}

h2 {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.button {
  display: inline-block;
  text-decoration: none;
  text-align: left;
  font-size: 1rem;
  cursor: pointer;
  transition: var(--hover_transition);
  border-radius: 1rem;
  border: 0px;
}
.button_primary {
  background-color: var(--color_dark_gray);
  padding: var(--button_padding);
  color: var(--color_white);
  font-weight: 600;
}
.button_primary:hover {
  filter: var(--hover_brightness);
}
.button_secondary {
  background-color: transparent;
  padding: 0.4rem 0.8rem;
  color: var(--color_light_gray);
  box-shadow: inset 0 0 0 1px;
}
.button_secondary:hover {
  filter: var(--hover_brightness);
}
section {
  margin-bottom: 1rem;
}
section > div {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
div.vertical {
  flex-direction: column;
  align-items: flex-start;
}
